@font-face {
     font-family: 'InsaneRush-DOqMm';
     src: url(../fonts/InsaneRush-DOqMm.otf) format('opentype');
     font-weight: normal;
     font-style: normal;
}
@font-face {
     font-family: 'scared';
     src: url(../fonts/Yabiosound-xRXy5.otf) format('opentype');
     font-weight: normal;
     font-style: normal;
}

.vanishing{
     opacity: 0; 
     pointer-events: all;                 
     transition: opacity 0.4s ease
}

.vanishing:hover{
     opacity: 1;
}

.hover-group:hover .vanishing {
  opacity: 1;           
}

.insane{
     font-family: 'InsaneRush-DOqMm';
     font-size: clamp(3rem, 8vw, 5rem);            /* BIG text */
     font-weight: bold;           /* thicker font */
     color: crimson;              /* eye-catching color */
     text-transform: uppercase;   /* optional: make it all caps */
     text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5); /* dramatic effect */
     text-transform:uppercase;
}

.fearful{
     font-family: 'scared';
     font-size: clamp(2rem, 6vw, 3.5rem);
     color:rgb(68, 121, 255);
     text-transform: lowercase;
     text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
     z-index: 9999;
}

.player{
     font-family: 'Times New Roman', Times, serif;
     font-size: clamp(1.5rem, 4vw, 2.5rem);
     color: white;
}

.typewriter{
     color: #00FF55;
     font-family: 'Courier New', Courier, monospace;
}

.trigger {
    cursor: pointer;
}

.hidden-text {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.hidden-text.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.full-screen{
    display: flex; 
    height: 100vh;       /* 100% of the viewport height */
    width: 100%;
}

.column{
     display: flex;
     flex : 1;
     flex-direction: column;
}

.row{
     display: flex;
     flex: 1;
     flex-direction: row;
}

.center{
     justify-content: center;
     align-items: center;
}

.padding{
     padding: 0.2em;
}

.fixed{
     position: absolute;
     white-space: nowrap;
}

h1 {
    text-align: center;
}

body {
     background-color: black;
     color: white;
     /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

a{
     color: inherit;
     text-decoration: none;
}
