{% extends 'base.html' %}

{% block head %}
<script src="{{url_for('static',filename='js/blink.js')}}" defer></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/blink.css')}}">
<style>
    body{
        overflow: hidden;
    }
</style>
{% endblock %}

{% block body %}
    <div id="dialogue-1" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-2">ok I give up</div>
    <div id="dialogue-2" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-3">i can't run from you</div>
    <div id="dialogue-3" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-4">please, tell me what do want?</div>
    <div id="dialogue-4" class="hidden-text fixed player trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-5">You Explain what happened</div>
    <div id="dialogue-6" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-6">oh, I see</div>
    <div id="dialogue-7" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-7">anger is scary is't he?</div>
    <div id="dialogue-8" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-8">I do understand </div>
    <div id="dialogue-9" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-9">But still what do you want from me? </div>
    <div id="dialogue-10" class="hidden-text fixed player trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-10">I want your help in stopping anger</div>
    <div id="dialogue-11" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-11">what? how can i help? </div>
    <div id="dialogue-12" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-12">I do know where he hides but.. </div>
    <div id="dialogue-13" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-13">I… I can’t face Anger. </div>
    <div id="dialogue-14" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-14">He burns me inside. </div>
    <div id="dialogue-15" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-15"> Every time I think of him, I feel smaller. </div>
    <div id="dialogue-16" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-16"> I feel smaller. </div>
    <div id="dialogue-17" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-17"> That’s okay.</div>
    <div id="dialogue-18" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-18"> You don’t have to be fearless.</div>
    <div id="dialogue-19" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-19"> Just stand by my side</div>
    <div id="dialogue-20" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-20"> Just guiding me to him is enough</div>
    <div id="dialogue-21" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-21"> I still can't</div>
    <div id="dialogue-22" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-22"> every time I think about him, I feel.. </div>
    <div id="dialogue-23" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-23"> Like I am not stable. </div>
    <div id="dialogue-24" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-trigger1"> Ok just think about him, I will help you</div>
    <!-- <div id="dialogue-25" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-25"> Ok, I am thinking</div> -->


    <div id="dialogue-trigger1" class="hidden-text fixed player trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-something">Ok, I am thinking</div>
    <div id="dialogue-trigger2" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-25">thank You</div>
    <div id="dialogue-25" class="hidden-text fixed fearful trigger" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);" target ="dialogue-final">I am ready to guide you</div>
    <div id="dialogue-final" class="hidden-text fixed fearful center column" style="top: 50vh ; left: 50vw; transform: translate(-50%, -50%);"><h1 class="fearful">You need to go higher</h1><h1 class="fearful">You are on 1</h1></div>
    <div>
        <div id="round1-1" class="hidden-text fixed slow-blink round1" style="top:25vh; left:25vw; transform: translate(-50%, -50%);">Will</div>
        <div id="round1-1" class="hidden-text fixed slow-blink round1" style="top:25vh; left:75vw; transform: translate(-50%, -50%);">Will</div>
        <div id="round1-1" class="hidden-text fixed slow-blink round1" style="top:75vh; left:50vw; transform: translate(-50%, -50%);">Will</div>
    </div>


<script>
    document.addEventListener("DOMContentLoaded", () => {

        setTimeout(()=>{
            document.getElementById('dialogue-1').classList.add('visible')
        }, 800)

        const triggers = document.querySelectorAll('.trigger');
        triggers.forEach(trigger => {
            trigger.addEventListener('click', () => {
            trigger.classList.remove('visible');
            const targetID = trigger.getAttribute('target');
            const target = document.getElementById(targetID);
                if(target){
                    setTimeout(()=>{
                        target.classList.add('visible');
                    }, 800)        
                }
            });
        });

        document.getElementById('dialogue-trigger1').addEventListener('click', () => {
            startBlink();
            document.querySelectorAll('.round1').forEach(el => {
                el.classList.add('visible');
            })
            listenForEvents('blinkStopped', 3, ()=>{
                setTimeout(()=>{
                    document.querySelectorAll('.round1').forEach(el => {
                        el.classList.remove('visible');
                    })
                    document.getElementById('dialogue-trigger2').classList.add('visible')
                }, 1000)
            })
        })
    })
    
</script>
{% endblock %}